<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- 												Log4j 사용이유 														 -->
<!-- 						1. 운영시 불필요한 로그가 출력됨. 														 -->
<!-- 						2. 모든 로그를 지워버리면 에러가 났을 경우 에러원인을 찾기 힘듬. 					 -->
<!-- 						3. 성능에 영향을 미친다.																	 -->
    
<!--     		 								Log4j Element															-->
<!--   		 		Logger 		출력할 메세지를 Appender에 전달											-->
 <!--  		 		Appender   전달된 로그를 어디에 출력할 지 결정 (콜솔출력, 파일기록, DB저장 등)  -->
<!--   		 		Layout      로그를 어떤 형식으로 출력할 지 결정											-->

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%c] %m%n" />
		</layout>
	</appender>
	
	<appender name="console-infolog" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d %5p %m%n"/>
	    </layout>
	</appender>
	
	
	<!-- Application Loggers -->
	<!-- <logger name="com.test.testspring"> -->
	<logger name="reference_spring" additivity="false">
		<level value="debug" />
		<appender-ref ref="console"/>
	</logger>
	
	
	<!-- query Loggers -->
	<logger name="reference_spring" additivity="false">
	    <level value="INFO"/>
	    <appender-ref ref="console-infolog"/>
	</logger>
	
	<logger name="jdbc.resultsettable" additivity="false">
	    <level value="INFO"/>
	    <appender-ref ref="console"/>
	</logger>
	
	
		<!-- Root Logger -->
	<root>
		<priority value="off" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>